body{
    background-color: #050d1a;
}
h1{
    color: #ddede9;
    text-align: center;
    font-size: 60px;

}
p{
    color: #ddede9;
    text-align: center;
    font-size: 40px;
} 
img{
    margin-left: 420px;
    width: 60%;
}
